<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 bg-dark w-100">

  <img class="rounded-circle" src="assets/logo.png" width="80" height="80">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline">Esraa Moktar</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="#" class="nav-link align-middle px-0">
          <i class="fas fa-gauge"></i> <span class="ms-1 d-none d-sm-inline text-white">Home</span>
        </a>
      </li>
      <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <i class="fas fa-gauge"></i> <span class="ms-1 d-none d-sm-inline text-white">Dashboard</span> </a>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
          <li class="w-100">
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Item 1</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Item 2</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <i class="fas fa-chart-tree-map"></i> <span class="ms-1 d-none d-sm-inline text-white">Products</span> </a>
        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
          <li class="w-100">
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Product 1</span></a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Product 2</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <hr>
  </div>
  